<input type="hidden" name="{{ widget.name }}" {% if widget.value != None %}
       value="{{ widget.value }}" {% endif %}{% include "django/forms/widgets/attrs.html" %}>
<select name="list-selection-{{ widget.name }}">
    <option value="">
        -- None --
    </option>
    {% for event in widget.selectable_events %}
        {% if event.id == widget.stored_event_id %} selected{% endif %}
        <option value="{{ event.id }}" {% if event.id|stringformat:"i" == widget.stored_event_id %} selected{% endif %}>
            {{ event.event_type_label }} - {{ event.topic }}
        </option>
    {% endfor %}
</select>
{% if widget.zoom_error %}
    <div class="help-block help-warning">
        <svg class="icon icon-warning icon" aria-hidden="true">
            <use href="#icon-warning"></use>
        </svg>
        {{ widget.zoom_error }}
    </div>
{% elif not widget.selectable_events %}
    <div class="help-block help-warning">
        <svg class="icon icon-warning icon" aria-hidden="true">
            <use href="#icon-warning"></use>
        </svg>
        {{ widget.no_events_message }}
    </div>
{% endif %}

{{ widget.extra_js|safe }}
